# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

# Disable directory browsing
Options -Indexes

<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>

# Disable caching
<FilesMatch "\.(html|htm|js|css|json)$">
    FileETag None

    <IfModule mod_headers.c>
        Header unset ETag
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Note "CACHING IS DISABLED ON LOCALHOST"
        Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
    </IfModule>
</FilesMatch>
